.active hr{
    margin-left: 12%;
}
#creative-people{
    margin-top: 100px;
}
#creative-people .btn{
    font-size: 16px !important;
    border-color: transparent;
    background-color: transparent;
    color: #131313;
}
#creative-people .nav-tabs{
    border-bottom: 0;
}
#creative-people .btn:hover, #creative-people .nav-item .active,[aria-selected="true"]{
    border-color: #FF0266;
    color: #FF0266 !important;
}
#creative-people ul a{
    padding-left: 40px;
    padding-right: 40px;
}
#creative-people .text{
    margin-top: 100px;
    margin-bottom: 50px;
}
#creative-people .text h2{
    font-size: 39px !important;
}
#creative-people .text p{
    font-size: 13px;
}
#qualified h1{
    font-weight: 600;
    font-size:2rem !important;
    margin-bottom: 5%;
}
#counter{
    margin-bottom: 50px;
}
#counter .row > div{
    font-weight: 800;
    color: #E0E0E0;
    padding: 5%;
    border-top: 1px solid #E0E0E0;
    border-bottom:  1px solid #E0E0E0;
    text-align: center;
}

#counter .row > div:not(:last-child){
    border-right: 1px solid #E0E0E0;
}
#counter .row > div >p:first-child{
    font-size: 20px;
    font-weight: 600;
    color: #FF0266;
    margin-bottom: 0px !important;
}
@media screen and (max-width:991px) and (min-width:768px){
    #creative-people img{
        padding-top: 250px;
    }
    #two-laptop > div{
        margin-top: 0 !important;
    }
    #two-laptop img{
        margin-top: 70px;
    }
}
@media screen and (max-width: 767px){
    #counter .row > div:nth-child(2){
        border-right: 0px;
    }
    /* h1,h2{
        font-size: 24px !important;
    } */
}
@media screen and (max-width: 575px){
    #counter .row > div{
        border-right: 0px !important;
    }
    #creative-people ul a{
        width: 70%;
        padding-left: 0;
        padding-right: 0;
    }
}