.contact-item{
    color: #ffffff !important;
    background-color: #FF0266 !important;
}
.contact-item:hover{
    border-color: rgb(245, 51, 129) !important;
    background-color: rgb(245, 51, 129) !important;
}
#map{
    margin-top: 40px;
    margin-bottom: 60px;
}

.stuff i{
    color: #FF0266;
    
    transition: 0.3s ease-in-out;
}
.stuff a{
    margin-right: 20px;
}
.stuff i:hover{
    color: rgb(255, 159, 197);
}
.shadow46and2{
    height: 90%;
    border-bottom: 10px solid #FF0266;
}
.shadow46and2 a{
    color: #131313;
    transition: 0.3s ease-in-out;
}
.shadow46and2 a:hover{
    color: #FF0266;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
input ,textarea{
    font-size: 24px !important;
    color: #131313;
}
textarea{
    resize: none;
}
form{
    width: 50%;
    margin-bottom:75px;
}

@media screen and (max-width: 991px){
    form{
        width: 100%;
    }
}
@media screen and (max-width:767px){
    #map iframe{
        height: 300px;
    }
}
@media screen and (max-width: 575px){
    #map iframe{
        height: 200px;
    }
    #forma h2{
        font-size: 28px !important;
    }
}