.stuff i{
    color: #FF0266;
}
.shadow46and2{
    height: 200px;
    border-bottom: 10px solid #FF0266;
}
.shadow46and2 a{
    color: #131313;
    transition: 0.3s ease-in-out;
}
.shadow46and2 a:hover{
    color: #FF0266;
    
}
/* .shadow46and2 div:last-child{
    margin-right: 0px !important;
} */
/* .contact-item{
    background-color: ;
    color: black !important;
} */