.active hr{
    margin-left: 18%;
}
#website-for-you .btn, #creative-age .btn, .project-question .btn{
    background-color: #FF0266;
    color: #FFFFFF;
    font-size: 11px;
}
#website-for-you{
    background-image: url(../images/home-intro.png) !important;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}
#website-for-you h1{
    font-size: 64px;
}
#website-for-you{
    font-weight: 700;
}
#website-for-you p{
    font-weight: 600;
    /* font-size: 18px; */
    padding-left: 0px !important;
}
#modal {
    background-color: #FF0266;
}
.pink-dot{
    color: #FF0266;
    font-weight: 500 !important;
}
.blackbar-middle{
    background-color: #131313;
    position:absolute; 
    justify-content: center;
    top:450px; 
    left:1%;
    right: 1%; 
}
/* .blackbar-middle > div{
    padding: ;
} */
.shadow46and2{
    height: 300px;
}
#creative-age{
    background-color: #F9F9F9;
}
.pink-list li::before{
    content: "•";
    color: #FF0266 !important;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
    font-weight: 800;
}
#creative-age h2{
    font-size: 36px !important;
}
.pink-border{
    border: 2px solid #FF0266;
}


.pink-shadow{
    background-color: #FFFFFF;
    border-top: 10px solid #FF0266;
    box-shadow: 1px 1px 5px 0px rgba(219,219,219,1);
    transition: 0.3s ease-in-out
}
.pink-shadow:hover{
    box-shadow: 4px 4px 5px 3px rgba(219,219,219,1);
}
#carouselControls i{
    color: black !important;
    font-size: 60px;
    transition: 0.3s ease-in-out;
}
#carouselControls i:hover{
    color: #FF0266 !important; 
}
#carouselControls p{
    font-size: 32px;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1 !important;
}
@media screen and (max-width: 992px){
    .blackbar-middle{
        position: static;
        top:0; 
        left:0;
        right: 0; 
    }
}
@media screen and (max-width: 768px){
    .carousel-control-next, .carousel-control-prev {
        position: static;
        display: inline;
        margin: 0 auto;
        justify-content: center;
    }
    .carouselbuttons{
        width: 100%;
        justify-items: center;
    }
}
