.active hr{
    margin-left: 14%;
}
#main{
    margin-top: 40px;
}
.accordion{
    margin-top:15%;
}
#main .col-md-6:nth-child(1){
    padding-top: 15%;
    padding-bottom:30px;
    background-color: white;
}
.collapsing{
    transition: 0.5s ease-in-out !important;
}
.pink-heading{
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
[aria-expanded="true"]{
    border: 2px solid #FF0266 ;
}
@media screen and (max-width:767px){
    #main{
        margin-top: 0px;
    }
    #main .col-md-6:nth-child(1){
        padding-top: 30px;
        padding-bottom:30px;

    }
}
